{% extends "base.html" %}

{% block center %}
<section id="content" class="clearfix with-map">
    <div class="container clearfix">
        <header class="page-header">
            <h1 class="page-title">piłka.info | piłka nożna to nasza pasja. <br /> zawsze świeże informacje dla sympatyków limanowskiej piłki nożnej ...</h1>
        </header>
    </div>

    <section id="map"></section>

    <div class="container clearfix">
        <h6 class="section-title">Najnowsze Aktualności</h6>
        <ul class="post-carousel">
            <li>
                <div class="entry-meta">
                    <a href="single-post.html">
                        <span class="post-format aside">Permalink</span>
                    </a>
                    <span class="date">Mar 17 2012</span>
                </div><!-- end .entry-meta -->
                <div class="entry-body">
                    <a href="single-post.html">
                        <h5 class="title">KS Tymbark wciąż bez porażki ...</h5>
                    </a>
                    <p>Tymbarska drużyna w miniony weekend rozegrała dwa sparingi. W piątek na boisku w Tylmanowej drużyna Jakcka Ruchały zmierzyła się z liderem ...</p>
                </div>
            </li>
            <li>
                <div class="entry-meta">
                    <a href="single-post.html">
                        <span class="post-format aside">Permalink</span>
                    </a>
                    <span class="date">Mar 17 2012</span>
                </div><!-- end .entry-meta -->
                <div class="entry-body">
                    <a href="single-post.html">
                        <h5 class="title">KS Tymbark wciąż bez porażki ...</h5>
                    </a>
                    <p>Tymbarska drużyna w miniony weekend rozegrała dwa sparingi. W piątek na boisku w Tylmanowej drużyna Jakcka Ruchały zmierzyła się z liderem ...</p>
                </div>
            </li>
            <li>
                <div class="entry-meta">
                    <a href="single-post.html">
                        <span class="post-format aside">Permalink</span>
                    </a>
                    <span class="date">Mar 17 2012</span>
                </div><!-- end .entry-meta -->
                <div class="entry-body">
                    <a href="single-post.html">
                        <h5 class="title">KS Tymbark wciąż bez porażki ...</h5>
                    </a>
                    <p>Tymbarska drużyna w miniony weekend rozegrała dwa sparingi. W piątek na boisku w Tylmanowej drużyna Jakcka Ruchały zmierzyła się z liderem ...</p>
                </div>
            </li>
            <li>
                <div class="entry-meta">
                    <a href="single-post.html">
                        <span class="post-format aside">Permalink</span>
                    </a>
                    <span class="date">Mar 17 2012</span>
                </div><!-- end .entry-meta -->
                <div class="entry-body">
                    <a href="single-post.html">
                        <h5 class="title">KS Tymbark wciąż bez porażki ...</h5>
                    </a>
                    <p>Tymbarska drużyna w miniony weekend rozegrała dwa sparingi. W piątek na boisku w Tylmanowej drużyna Jakcka Ruchały zmierzyła się z liderem ...</p>
                </div>
            </li>
            <li>
                <div class="entry-meta">
                    <a href="single-post.html">
                        <span class="post-format aside">Permalink</span>
                    </a>
                    <span class="date">Mar 17 2012</span>
                </div><!-- end .entry-meta -->
                <div class="entry-body">
                    <a href="single-post.html">
                        <h5 class="title">KS Tymbark wciąż bez porażki ...</h5>
                    </a>
                    <p>Tymbarska drużyna w miniony weekend rozegrała dwa sparingi. W piątek na boisku w Tylmanowej drużyna Jakcka Ruchały zmierzyła się z liderem ...</p>
                </div>
            </li>
        </ul>

        <h6 class="section-title">Ostatnie Galerie</h6>
        <ul class="projects-carousel clearfix">
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
            <li>
                <a href="single-project.html">
                    <img src="http://c4600283.r83.cf2.rackcdn.com/html-placeholders/portfolio/thegame-thumb-4th.jpg" alt="">
                    <h5 class="title">KS Tymbark - Poprad Rytro</h5>
                    <span class="categories">IV Liga</span>
                </a>
            </li>
        </ul>
    </div>
</section>
{% endblock %}
